<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--核心配置文件-->
<configuration>

    <!--引入外部配置文件-->
    <properties resource="db.properties">
        <!--这里面还可以进行写其他属性-->
    </properties>

    <settings>
        <!--注意name="logImpl" value="STDOUT_LOGGING"不要有空格-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>





    <!--可以配置多个环境-->
    <!--这里默认代表的是开发环境-->
    <environments default="development">

        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--默认是有数据库连接池的-->
            <dataSource type="POOLED">

                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>

            </dataSource>
        </environment>


    </environments>

    <!--每一个Mapper.xml都需要在mybatis里面进行注册-->


    <!--使用注解就不需要进行注册了-->
    <!--<mappers>-->
        <!--<mapper resource="com/lgy/dao/UserMapper.xml"/>-->
    <!--</mappers>-->


    <mappers>
        <!--<mapper class="com.lgy.dao.StudentDao"></mapper>-->
        <!--<mapper resource="/resource/com/lgy/dao/*.xml"></mapper>-->
        <mapper resource="com/lgy/dao/StudentMapper.xml"></mapper>
        <mapper class="com.lgy.dao.TeacherDao"></mapper>

    </mappers>


</configuration>